body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}
h1, h2, h3 {
    color: #333;
}
.container {
    max-width: 800px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
ul {
    padding-left: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    text-align: center;
}
.YellowText {
    background-color: yellow;
}
.GreenText {
    background-color: lime;
}
.BlueText {
    background-color: aqua;
}
.WhiteText {
    background-color: white;
}
.GreyText {
    background-color: lightgrey;
}
.UnDisplay {
    display: none;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
nav li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}
/* Change the link and background color on hover */
nav li a:hover {
    background-color: #555555;
    color: white;
}
    